accelerate==1.15.0
bs4==0.0.1
covalent-azurebatch-plugin==0.12.0
diffusers==0.38.0
emoji==2.8.0
Pillow==12.3.0
sentencepiece==0.2.1
streamlit==1.54.0
torch==2.13.0
transformers==5.10.0
xformers==0.0.35
